<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title - Latest and hot job from github</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


<section id="navigation" class="mb-0">
    <nav class="navbar navbar-expand-lg navbar-dark  bg-dark-blue">
        <div class="container">
            <a class="navbar-brand" href="/"> <span class="fa fa-github"></span> Jobs from Github</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNavDropdown" class="navbar-collapse collapse">

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", null, new {@class = "nav-link"})
                        </li>

                    <li class="nav-item">
                        @Html.ActionLink("Job", "Index", "Job", new {page = 1}, new {@class = "nav-link"})
                        </li>

                    <li class="nav-item">
                        @Html.ActionLink("About", "About", "Home", new {page = 1}, new {@class = "nav-link"})
                        </li>


                </ul>
            </div>
        </div>

    </nav>
</section>


@RenderBody()


<!-- Footer -->
<footer>
    <div class="container-fluid mx-0 bg-dark-blue text-white">
        <div class="row">
            <div class="col-lg-12 col-md-10 mx-auto">

                <p class="copyright text-white text-right">Copyright &copy; 2019 Olaitan M. Adeboye</p>
            </div>
        </div>
    </div>
</footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>